Checks: >
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    -bugprone-integer-division,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-use-default-member-init,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-avoid-do-while,
    -hicpp-static-assert,
    -hicpp-vararg,
    -hicpp-explicit-conversions,
    -misc-non-private-member-variables-in-classes,
    -misc-use-internal-linkage,
    -misc-static-assert,
    -modernize-use-default-member-init,
    -modernize-return-braced-init-list,
    -modernize-pass-by-value,
    -modernize-use-trailing-return-type,
    -performance-avoid-endl,
    -performance-enum-size,
    -readability-magic-numbers,
    -readability-identifier-length,
    -readability-make-member-function-const,

WarningsAsErrors: ""

CheckOptions:
    - key: readability-identifier-naming.VariableCase
      value: camelBack

    - key: readability-identifier-naming.GlobalConstantCase
      value: UPPER_CASE

    - key: readability-identifier-naming.StaticConstantCase
      value: UPPER_CASE

    - key: readability-identifier-naming.FunctionCase
      value: camelBack

    - key: readability-identifier-naming.ParameterCase
      value: camelBack

    - key: readability-identifier-naming.ClassCase
      value: CamelCase

    - key: readability-identifier-naming.StructCase
      value: CamelCase

    - key: readability-identifier-naming.MemberCase
      value: camelBack

    - key: readability-identifier-naming.PrivateMemberSuffix
      value: _

    - key: readability-identifier-naming.MethodCase
      value: camelBack

    - key: readability-identifier-naming.ScopedEnumConstantCase
      value: CamelCase

    - key: readability-identifier-naming.UnionCase
      value: CamelCase

    - key: readability-identifier-naming.NamespaceCase
      value: lower_case

    - key: readability-identifier-naming.TemplateParameterPrefix
      value: T
